.navigation {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 0 25px;
}

.navigation ul {
  list-style: none;
  padding: 0;
}

.navigation ul li {
  display: inline-block;
}

.navigation ul li + li {
  margin-left: 5px;
}

.navigation ul li a {
  color: white;
  font-family: sans-serif;
  text-decoration: none;
}

body {
  margin: 0;
}

.test-1 .img {
  width: 100vw;
  height: 100vh;
  background: url('mountain.jpg');
  background-size: cover;
  transition: 4s transform;
}

.test-1 .img.zoom {
  transform: scale(1.5);
}
