.navigation {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 0 25px;
  z-index: 9;
}

.navigation ul {
  list-style: none;
  padding: 0;
}

.navigation ul li {
  display: inline-block;
}

.navigation ul li + li {
  margin-left: 5px;
}

.navigation ul li a {
  color: white;
  font-family: sans-serif;
  text-decoration: none;
}

body {
  margin: 0;
}

.test-1 .img {
  width: 100vw;
  height: 100vh;
  background: url('mountain.jpg');
  background-size: cover;
  transition: 4s transform;
}

.test-1 .img.zoom {
  transform: scale(1.5);
}

.carousel {
  position: absolute;
  top: 50%;
  z-index: 8;
  left: 0;
  display: flex;
  width: calc(200px * 5);
  transition: left 4s;
}

.carousel_right {
  left: 100vw;
  transition: left 0s;
}

.carousel_left {
  left: -100vw;
  transition: left 2s;
}

.carousel-item {
  width: 200px;
  height: 300px;
  background: white;
  padding: 25px;
  margin-right: 25px;
}

.carousel-item img {
  width: 100%;
  display: block;
}

body {
  transition: filter 4s;
}

body.blur {
  -webkit-filter: blur(25px);
}
